<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{title}}
  </h1>
  <div id="card_stack">
    <div *ngFor="let card of cards; let i = index" class="cards" ng-click="class {background-color:'#E74C3C'}">
      <span style="display: none;">{{ card }}{{ i }}</span>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div ng-click="populate()" id="ttt" style="background-color: orange; width: 100px;">Populate</div>

</div>
