#card_stack {
    width: 50%;
    margin: auto;
    border: #000 solid 2px;
}

.cards {
    height: 250px;
    width: 150px;
    border: #000 solid 1px;
    float: left;
    margin: 10px;
    background-color: #f00;
}

.cardsActive {
    height: 250px;
    width: 150px;
    border: #000 solid 1px;
    float: left;
    margin: 10px;
    background-color: #0f0;
}